@import "tailwindcss";

@theme {
  --color-navy-deep: #00496A;
  --color-navy-mid: #476C83;
  --color-navy-dark: #013554;
  --color-blue-steel: #5283A8;
  --color-blue-steel-alt: #5282A8;
  --color-blue-royal: #00487F;
  --color-blue-royal-dark: #0A4677;
  --color-charcoal: #1C2835;
  --color-indigo-deep: #1F497D;
  --color-indigo-mid: #13417F;
  --color-tint-sky: #E9F5FF;
  --color-tint-sky-alt: #E9F4FF;
  --color-grey-light: #D9D9D9;
  --color-grey-mid: #7F7F7F;
  --color-grey-pale: #F2F2F2;
}
